<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/layout/base">

<div layout:fragment="content">
    <div class="" office="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div style="text-align: center">
                            <div th:if="${status} == 'success'" class="alert flash-alert alert-success" role="alert">Successfully updated.</div>
                            <div th:if="${status} == 'error'" class="alert flash-alert alert-danger" role="alert">Wrong password provided.</div>
                        </div>
                        <form name="addForm" class="form-horizontal form-label-left" action="/security/change_password"  modelAttribute="password-change" method="POST">
                            <span class="section">Change Password</span>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cur_password">Current Password <span style="color:red">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="cur_password" class="chk_pass form-control col-md-7 col-xs-12"  name="curPassword" placeholder="" type="text" />
                                    <span class="err_msg" id="err_cur_password"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="new_password">New Password <span style="color:red">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="new_password" class="chk_pass form-control col-md-7 col-xs-12"  name="newPassword" placeholder="" type="text"/>
                                    <span class="err_msg" id="err_new_password"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="new_password_again">Retype New Password <span style="color:red">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="new_password_again" class="chk_pass form-control col-md-7 col-xs-12"  name="newPasswordAgain" placeholder="" type="text"/>
                                    <span class="err_msg" id="err_new_password_again"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button type="submit" class="btn btn-success" id="submit_button">Update</button>
                                    <input type="button" class="btn btn-primary"  id="refresh_button" value="Refresh" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="script">
    <script src="../js/security/change_password.js"></script>
</div>
<div layout:fragment="css">
    <!--<link href="../css/security/office.css" rel="stylesheet">-->
</div>