<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorator="common/layout/base">
<head>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
          rel="stylesheet"  type='text/css'>
</head>
<div layout:fragment="content">

    <div class="" user="main">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <h2><small>System & Settings > User Setup </small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="x_content">
                        <form name="addUserForm" class="form-horizontal form-label-left" id="addUserForm" th:action="@{/security/user}" th:object="${user}" method="post">
                            <span class="section">User Setup Form</span>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">User Name
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="username" class="form-control col-md-7 col-xs-12"  name="username" placeholder="" type="text"/>
                                    <input type="hidden" id="id" value="-1" name="userId"  />
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Password
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="password" class="form-control col-md-7 col-xs-12"  name="password" placeholder="" type="password"/>
                                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="officeCategory">Category
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select  class="form-control"  id="officeCategory" name="officeCategory">
                                        <option th:each = "cat : ${categoryList}" th:value="${cat.value}" th:text="${cat.displayName}"></option>

                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="officeId">Office
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select  class="form-control"  id="officeId" name="officeId" data-id="onLoad">
                                        <option th:each = "office : ${officeList}" th:value="${office.secOfficeId}" th:text="${office.name}"></option>

                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="roleId">Role
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select  class="form-control"  id="roleId" name="roleId">
                                        <option th:each = "role : ${roleList}" th:value="${role.roleId}" th:text="${role.roleName}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="isActive">Active
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12" id="isActive" name="isActive">
                                    <input type="radio" name ="isActive" th:value="1" th:text="YES" checked>
                                    <input type="radio" name="isActive" th:value="0" th:text="NO">
                                </div>
                            </div>
                            <div class="item form-group" id="inActiveReasonHidden">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="inactiveReason">Inactive Reason
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea id="inactiveReason" class="form-control rounded-0"  name="inactiveReason" placeholder=""  type="text"></textarea>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="isLocked">Locked
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12" id="isLocked" name="isLocked">
                                    <input type="radio" name ="isLocked" th:value="1" th:text="YES" >
                                    <input type="radio" name="isLocked"  th:value="0" th:text="NO" checked>
                                </div>
                            </div>
                            <div class="item form-group" id="lockedReasonHidden">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lockedReason">Locked Reason
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea id="lockedReason" class="form-control rounded-0"  name="lockedReason" placeholder=""  type="text"></textarea>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button type="submit" class="btn btn-success" name="add" id="add" value="add">Add</button>
                                    <input type="button" class="btn btn-primary"  id="refreshButton" th:value="Refresh"  onclick="formRefresh()">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="" id="tableUser">
                                    <table id="datatable" class="table table-striped table-bordered bulk_action dataTable no-footer">
                                        <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th>User Name</th>
                                            <th>Role </th>
                                            <th>Office Name</th>
                                            <th>Office Category</th>
                                            <th>Office Address</th>
                                            <th>Office Division</th>
                                            <th>Office District</th>
                                            <th>Office Thana</th>
                                            <!--<th>Active</th>-->
                                            <!--style="width:100px;" !-->
                                            <th style="width:88px;">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${userDataTable}">
                                            <td class="rowId" th:id="${'user-row-' + user.rowId}" th:text="${user.rowId}"></td>
                                            <!--<td class="officeId"th:text="${office.secOfficeId}" ></td>-->
                                            <td class="userName" th:text="${user.userName}"></td>
                                            <td class="roleName"th:text="${user.roleName} != null? ${user.roleName} : ${dataUnavailable} "></td>
                                            <td class="officeName" th:text="${user.officeName} != null? ${user.officeName}: ${dataUnavailable}"></td>
                                            <td class="officeCategoryName" th:text="${user.officeCategory} != null? ${user.officeCategory}: ${dataUnavailable}"></td>
                                            <td class="officeAddress" th:text="${user.officeAddress} != null? ${user.officeAddress}: ${dataUnavailable}"></td>
                                            <td class="officeDivision" th:text="${user.officeDivision} != null? ${user.officeDivision} : ${dataUnavailable}"></td>
                                            <td class="officeDistrict" th:text="${user.officeDistrict} != null? ${user.officeDistrict} : ${dataUnavailable}"></td>
                                            <td class="officeThana" th:text="${user.officeThana} != null? ${user.officeThana} : ${dataUnavailable}"></td>

                                            <td>
                                                <div class="col-xs-6 previous">
                                                    <a class="btn btn-success" id="editButton" th:value="Edit" th:attr="data-id=${user.userId}" onclick="formEdit(this)"><i class="fa fa-pencil"></i></a>
                                                </div>
                                                <div class="col-xs-6 next">
                                                    <a class="btn btn-danger" id="deleteButton" th:value="Delete" th:attr="data-id=${user.userId}+ ' '+${user.rowId}" onclick="formDelete(this)"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<div layout:fragment="script">
    <script src="../js/security/user.js"></script>
    <script src="../js/validate.js"></script>
</div>
<div layout:fragment="css">
    <link href="../css/security/office.css" rel="stylesheet">
    <link href="../css/security/user.css" rel="stylesheet">
</div>