<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"> !-->

    <title> Jiban Bima Corporation </title>

    <!-- Bootstrap -->
    <div th:replace="common/layout/header :: header"></div>

</head>
<body class="nav-md">
<div class="container body" style="background: #e6e6e6">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="../index.html" class="site_title">Head Office</a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <img class="img-responsive" src="../theme/production/images/bg.jpg"/>
                </div>
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section" sec:authentication="principal.menuHtml">
                    </div>
                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false">
                                <img src="../theme/production/images/user.png" alt="">
                                <name sec:authentication="principal.username"></name>
                                <designation>Managing Director</designation>
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:;"><i class="fa fa-user right-icon" aria-hidden="true"></i>
                                    Profile</a></li>
                                <li><a href="/security/change_password"><i class="fa fa-wrench right-icon" aria-hidden="true"></i>
                                    Change Password</a></li>
                                <li><a href="javascript:;"><i class="fa fa-book right-icon" aria-hidden="true"></i> Help</a>
                                </li>
                                <li><a href="/security/logout"><i class="fa fa-sign-out pull-right"></i><i
                                        class="fa fa-power-off right-icon" aria-hidden="true"></i> Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="logo-name">
                    <img id="logo" src="../theme/production/images/logo.png" alt="Logo"/>
                    <a href="../index.html"><h1>Jiban Bima Corporation</h1></a>
                </div>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="right_col" role="main">
                <div layout:fragment="content">
                    Page content goes here
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../theme/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../theme/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../theme/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../theme/vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="../theme/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="../theme/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="../theme/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="../theme/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="../theme/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="../theme/vendors/Flot/jquery.flot.js"></script>
<script src="../theme/vendors/Flot/jquery.flot.pie.js"></script>
<script src="../theme/vendors/Flot/jquery.flot.time.js"></script>
<script src="../theme/vendors/Flot/jquery.flot.stack.js"></script>
<script src="../theme/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="../theme/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="../theme/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="../theme/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="../theme/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="../theme/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="../theme/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="../theme/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<script src="../theme/production/js/script.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="../theme/vendors/moment/min/moment.min.js"></script>
<script src="../theme/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="../theme/build/js/custom.min.js"></script>

<!-- Datepicker -->
<script src="../theme/vendors/jquery.datepicker/jquery-ui.js"></script>

<!-- Datatables-->
<script src="../theme/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../theme/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="../theme/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../theme/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="../theme/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="../theme/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../theme/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../theme/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="../theme/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../theme/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../theme/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="../theme/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>

<script src="../js/jquery-confirm.js"></script>
<script src="../js/jquery-confirm-custom.js"></script>


<div layout:fragment="script"></div>

</body>
<script>
    $(document).ready(function () {
        $(".side-menu").find("li").find(".child_menu").css("display","none");
        $(".side-menu").find("li").removeClass("active");
        $("li.current-page").parents().css("display", "block");

        $(".datepicker").datepicker({ dateFormat: 'dd/mm/yy' });
        remove_alert();
    });
</script>